.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
}

.header-logo {

}

.header-right {
  display: flex;
  flex-direction: row;
  gap: 65px;
}

.header-right_city {
  /*background: #EFEFEF;*/
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.header-right_city p{
  /*font-family: 'Montserrat';*/
  padding: 5px 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.header-right_theme button {
  border: none;
  background: none;
}
